body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
    width: 940px;
    margin: 0 auto; 
}
h1 {
    margin-top: 42px;
}   

h2 {
    margin-top: 32px
}

#menu {
    display: flex;
    width: 300px;
    border: 1px rgb(86, 86, 86) solid;
    border-radius: 5px;
    padding: 10px;
    margin: 48px auto;
}

#menu > div {
    margin: 0 auto;
}

.image-container {
  width: 220px;        
  height: 220px;
  overflow: hidden; 
  display: flex;         
  justify-content: center; 
  align-items: center;   
  margin: 0 auto;
  border-radius: 50%;
  border: rgb(213, 213, 213) 3px solid;
}

.image-container img {
  height: 100%; 
  width: auto; 
}

a{
    text-decoration: none;
    color: black;
}
.main-container {
    width: 75%; 
    margin: 0 auto; 
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech-container {
    border: solid 1px rgb(112, 112, 112);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    width: 20%;
}

.logo-tech {
    width: 4rem;
    height: 4rem;
    padding: .5rem;
}

.tech-name {
    margin: 0;
    font-size: 1.125rem;
}